<phpunit colors="true" bootstrap="./bootstrap.php"
         verbose="true"
         debug="true"
         backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="ctrllib testsuite">
            <directory>./phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>